<html>
    <head>
        <title>
            <%=tittle %>
        </title>
        <script src="https://kit.fontawesome.com/9dd661b484.js" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book"> </i>
           My contact lsit
        </h1>
        <div>
            <ul>
                <% for(let i of contact_list){ %> 
                   <Li class="contact">
                        <P><%= i.name %></P>
                        <P><%= i.phone %></P>
                    </Li>     
                   <a href="delete-contact/?id=<%= i._id %>">
                    <i class = 'fa fa-trash' id="trash-icon">  </i>
                   </a>
                   
                <%}%> 
            </ul>
        </div>  

                <hr style="width: 80%;">
        <div>
        <form id="contact_form" action="/create-contact" method="post">
            <div>
            <input type="text" name="name" placeholder="Enter Name" required >
            <input type="number" name="phone" placeholder="Enter Phone Number" required>
           </div>
            <button type="submit" id="addbutton">Add contact</button>
        </form>
        </div>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>
