<html>
    <head>
        <title>
            <%=tittle %>
        </title>
    </head>
    <body>
        <h1>
            playground
        </h1>
        <ul>
            <% for (let i=1;i<22;i++){ %>
                <li>
                    <%= i %>
                </li>
                <%}%>
        </ul>
        <%if (true){%>
            <h1> its corect qe </h1>
            <%}
            else{%>
                <p> it is false</p>
                <%} %>
    </body>
</html>
