body{
    background-color:antiquewhite;
    background: -webkit-linear-gradient(to top, #02151c, #081e26, #e75507);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #042d3c, #7b450b, #051d2a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: sans-serif;
    display: flex;
    align-items:center;
    flex-direction:column;
    height: auto;
}

   #contactlistcontainer ul{
    padding: 0;
    list-style: none;
   }

   .contact{
    text-align: center;
    padding: 3px 10px;
    border: 1px solid rgb(9, 6, 6);
    background: -webkit-linear-gradient(to top, #18495b, #081e26, #2a95c4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #496068, #a7b1b3, #97d3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 1px 1px 1px lightgray;
    color: rgb(0, 0, 0);
    display: flex;
   }

   .contact.details{
    text-align: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
   }
   .contact .delete-button{
    width: 10%;
    padding: 3px;
    text-align: center;
    margin-top: 5px;
   }
   .contact .delete-button a{
    color: rgb(228, 158, 158);
    background-color: red;

   }
   #trash-icon{
    color: #b6c1cc;
   }

   .contact p{
    margin: 5px 0;
   }
  #page-heading{
    text-align: center;
    color: blanchedalmond;
  }

  #contact_form{
    width:25em;
    padding:1em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-linear-gradient(to top, #e22a20, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, #ff918a94, #33535e);
    background: linear-gradient(to top, #e6060647, #330e8a40);
    background: linear-gradient(to top, #c3c3c342, #bfbfbf8c);
    margin-top:1em;

  }

  #addbutton{
    background-color: rgb(150, 162, 131);
    border: none;
    color:brown;
    padding: 10px 12px;
    text-decoration: none;
    
    
  }
  ul{
    list-style: none;
    padding: 0.5em 0.3em; 
    text-align: center;
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #ff918a94, #33535e);
    width: 25em;
    border-radius: 0.5rem;
     display: flex;
     flex-direction: row;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: space-evenly ;
}  
li{
  margin:0.5em;
 display: flex;
 justify-content: space-between;

 border: 2px solid #e65151;
 border-top: 0; 
 border-left: 10px solid #c58a8a; 
 border-right: 10px solid #274957; 
 border-radius: 22px;
 font-size: 1em;
 width:80%;
 padding: 0em 0.3em;
} 

li:hover{
  background: #d7e7ed;
}
#sp{
  width: 100px;
  height: 20px;
}